.container {
  display: flex;
  justify-content: space-between;
}

.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container ul li a {
  text-decoration: none;
}

.container ul li a:visited {
  color: black;
}
